<h1>Rock, Paper, Scissors</h1>

<hr>

<h2>Let's Play!  Choose One:</h2>
<a href="/rps?choose=rock" data-method="post" rel="nofollow"><img alt="Rock" src="/assets/rock.jpg" height="280"></a>
<a href="/rps?choose=paper" data-method="post" rel="nofollow"><img alt="Paper" src="/assets/paper.png" height="280"></a>
<a href="/rps?choose=scissors" data-method="post" rel="nofollow"><img alt="Scissors" src="/assets/scissors.jpg" height="280"></a>
