<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Director</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie[:title] %></td>
        <td><%= movie[:director] %></td>
        <td><%= movie[:year] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
